@model Wright.Models.SalesInventoryModels.SalesInvEdit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit A Sales Inventory</h1>

@if (ViewData["ErrorMsg"] != null)
{
    <h4 class="tect-center">@ViewData["ErrorMsg"]</h4>
}

<hr />

<div class = "row">
    <div class = "col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary = "ModelOnly" class = "text-danger"></div>
            <div class = "form-group">
                @Html.DisplayNameFor(r => r.Id)
                @Html.DisplayFor(r => r.Id)
            </div>
            <div class="form-group">
                <label asp-for="ListingNumber" class="control-label"></label>
                <input asp-for="ListingNumber" class="form-control" />
                <span asp-validation-for= "ListingNumber" class = "text-danger"></span>
            </div>
            <br />
            <div class = "form-group">
                <input type = "submit" value = "Save" class="btn btn-warning text-white" />
            </div>
        </form> 
        <br />
        <div>
            <a asp-action = "Index" class="text-danger">Back To List</a>
        </div>
    </div>
</div>