@model Wright.Models.CategoryModels.CategoryDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<hr />
<div>
    <dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    </dl>
</div>
<div>
    <a asp-action = "Edit" class="text-warning" asp-route-id=@Model.Id>Edit</a> |
    <a asp-action = "Index" class="text-warning">Back To List</a>
</div>